<!-- Template -->
<!-- Contentbereich -->
<form>
   <label for="col1" >Nummer</label>
   <input type="text" id="id" name="id" value="#context['id']#" />
   <label for="col1">Name</label>
   <input type="text" id="col1" name="col1" value="#context['col1']#" />
   <label for="col2">Vorname</label>
   <input type="text" id="col2" name="col2" value="#context['col2']#" />
   <label for="col1">Akademische Grade</label>
   <input type="text" id="col3" name="col3" value="#context['col3']#" />
   <label for="col2">Tätigkeit</label>
   <input type="text" id="col4" name="col4" value="#context['col4']#" />
   <button id="idBack">Zurück</button>
   <button id="speichern_mit_update">Ändern</button>
</form>
<!-- EOF -->