<!-- Template -->
<!-- Contentbereich -->
<form>
   <label for="col1" >Nummer</label>
   <input type="text" id="id" name="id" value="#context['id']#" />
   <label for="col1">Bezeichnung</label>
   <input type="text" id="col1" name="col1" value="#context['col1']#" />
   <label for="col2">Von</label>
   <input type="text" id="col2" name="col2" value="#context['col2']#" />
   <label for="col1">Bis</label>
   <input type="text" id="col3" name="col3" value="#context['col3']#" />
   <label for="col2">Beschreibung</label>
   <input type="text" id="col4" name="col4" value="#context['col4']#" />
   <label for="col1" >maximale Teilnehmerzahl</label>
   <input type="number" id="col5" name="id" value="#context['col5']#" />
   <label for="col1">minimale Teilnehmerzahl</label>
   <input type="number" id="col6" name="col1" value="#context['col6']#" />
   <label for="col2">Zertifikate/Bezeichnung</label>
   <input type="text" id="col7" name="col2" value="#context['col7']#" />
   <label for="col1">Zertifikate/Beschreibung</label>
   <input type="text" id="col8" name="col3" value="#context['col8']#" />
 
   <button id="idBack">Zurück</button>
   <button id="speichern">Ändern</button>
</form>
<!-- EOF -->

