<!-- Template -->
<!-- Contentbereich -->
<form>
   <label for="col1">Name</label>
   <input type="text" id="col1" name="col1"  />
   <label for="col2">Vorname</label>
   <input type="text" id="col2" name="col2"  />
   <label for="col1">Akademische Grade</label>
   <input type="text" id="col3" name="col1" />
   <label for="col2">Tätigkeit</label>
   <input type="text" id="col4" name="col2"  />
   <button id="idBack">Zurück</button>
   <button id="speichern_mit_new">Speichern</button>
</form>
<!-- EOF -->