<!-- Template -->
<!-- Contentbereich -->
<form>
   <label for="col1">Bezeichnung</label>
   <input type="text" id="col1" name="col1" value="#context['col1']#" />
   <label for="col2">Von</label>
   <input type="date" id="col2" name="col2" value="#context['col2']#" />
   <label for="col3">Bis</label>
   <input type="date" id="col3" name="col1" value="#context['col3']#" />
   <label for="col4">Beschreibung</label>
   <input type="text" id="col4" name="col2" value="#context['col4']#" />
   <label for="col5">maximale Teilnehmerzahl</label>
   <input type="number" id="col5" name="col5" value="#context['col5']#" />
   <label for="col6">minimale Teilnehmerzahl</label>
   <input type="number" id="col6" name="col6" value="#context['col6']#" />
   <label for="col7">Zertifikate/Bezeichnung</label>
   <input type="text" id="col7" name="col7" value="#context['col7']#" />
   <label for="col8">Zertifikate/Beschreibung</label>
   <input type="text" id="col8" name="col8" value="#context['col8']#" />
   <button id="idBack">Zurück</button>
   <button id="speichern">Speichern</button>
</form>
<!-- EOF -->


